<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content overflow-scroll="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Test</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <h1>Is ready, scan card</h1>
      <p>{{nfcData}}</p>
    </div>
  </ion-content>