<ion-header>
  <ion-toolbar>
    <ion-title>timeOut</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Se detecto que el dispositivo no esta conectado a internet</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Verifique que su internet esta conectado.
      Intente ingresar nuevamente
      <ion-button expand="full" color="danger" (click)="loginPage()">{{url}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>