<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input placeholder="Usuario" minlength=4 maxlength=14 formControlName="username" type="text" required></ion-input>
      </ion-item>


      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Clave</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      
      <div class="alert alert-danger" *ngIf="error">Usuario o clave incorrectas</div>

      <ion-button type="submit" size="large" expand="block" [disabled]="!loginForm.valid" (click)="verificarUsuario()">Ingresar
      </ion-button>
  </form>
</ion-content>