<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content overflow-scroll="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Test</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <p>{{mensaje}}</p>
      <input #dni type="text" id="dniString" [(ngModel)]="dniString" (focusout)="inputblur()" autofocus>
    </div>
  </ion-content>