<ion-app>
  <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay">
          <ion-content>
              <ion-list id="inbox-list">

                  <ng-container *ngIf='!usuario'>
                      <ion-list-header>Mapp</ion-list-header>
                      <ion-note>Garita</ion-note>
                  </ng-container>

                  <ng-container *ngIf='usuario'>
                      <ion-list-header>{{usuario.razon_social}}</ion-list-header>
                      <ion-note>{{usuario.apellido}}, {{usuario.nombre}}</ion-note>
                  </ng-container>

                  <ion-menu-toggle auto-hide="false">
                      <ng-container *ngIf='usuario'>

                          <ion-item (click)='logout()' button='true' lines="none" detail="false">
                              <ion-icon slot="start" name="close-circle"></ion-icon>
                              <ion-label>Salir</ion-label>
                          </ion-item>

                      </ng-container>
                      <ng-container *ngIf='!usuario'>

                          <ion-item routerDirection="root" [routerLink]="['/login']" lines="none" detail="false" routerLinkActive="selected">
                              <ion-icon slot="start" name="person"></ion-icon>
                              <ion-label>Login</ion-label>
                          </ion-item>

                      </ng-container>


                  </ion-menu-toggle>


              </ion-list>

          </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>