<ion-header>
  <ion-toolbar>
    <ion-title>Ingresos DNI</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="ingressForm">
    <ion-item>
      <ion-label position="floating">DNI</ion-label>
      <ion-input formControlName="dniString" type="text"
        [class.invalid]="!ingressForm.controls.dniString.valid && (ingressForm.controls.dniString.dirty || submitAttempt)">
      </ion-input>
    </ion-item>
    <ion-button color="primary" expand="full" [disabled]="!ingressForm.valid" (click)="sendIngress()">Ingresar
    </ion-button>
  </form>
</ion-content>