<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-card no-margin margin-bottom class="full-width">
        <ion-card-header>
          <h4 ion-text color="dark">Ingreso de Personal</h4>
        </ion-card-header>
        <ion-button expand="full" size="large" color="primary" (click)="dniPage()">DNI</ion-button>
        <ion-button expand="full" size="large" color="secondary" (click)="scanerPage()">Scaner</ion-button>
        <ion-button expand="full" size="large" color="tertiary" (click)="nfcPage()">Tarjeta</ion-button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card no-margin margin-bottom class="full-width">
        <ion-card-header>
          <h4 ion-text color="dark">Registrar nueva Persona</h4>
        </ion-card-header>
        <ion-button expand="full" size="large" color="primary">Registrar</ion-button>

      </ion-card>
    </ion-col>
  </ion-row>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let log of log | reverse; index as i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{i}}: {{ log.status }}
        </mat-panel-title>
        <mat-panel-description>
          {{ log.persona?.documento_numero }} {{ log.error }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <p>Status: {{ log.status }}</p>
      </div>
      <div *ngIf="log.persona?.nombre">
        <p>Nombre: {{ log.persona?.nombre }}</p>
      </div>
      <div *ngIf="log.persona?.apellido">
        <p>Apellido: {{ log.persona?.apellido }}</p>
      </div>
      <div *ngIf="log.persona?.documento_numero">
        <p>Documento: {{ log.persona?.documento_tipo }}: {{ log.persona?.documento_numero }}</p>
      </div>
      <div *ngIf="log.ubicacion?.nombre">
        <p>Ubicacion: {{ log.ubicacion?.nombre }}</p>
      </div>
      <div *ngIf="log.ingreso">
        <p>Permitido a: {{ log.ingreso }}</p>
      </div>
      <div *ngIf="log.error">
        <p>Error: {{ log.error }}</p>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</ion-content>